.hamburgerMenu__container {
  width: 100%;
}
.hamburgerMenu__hamburger {
  transition: opacity 0.3s;
  margin: 0;
  float: right;
}

.hamburgerMenu__hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}
.hamburgerMenu__hamburger .line {
  width: 50px;
  height: 5px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

.hamburgerMenu__hamburger .line:nth-child(1) {
  background-color: rgb(100, 68, 136);
}

.hamburgerMenu__hamburger .line:nth-child(2) {
  background-color: rgb(174, 103, 177);
}

.hamburgerMenu__hamburger .line:nth-child(3) {
  background-color: rgb(100, 68, 136);
}
/*Javascript hamburger*/
.hamburgerMenu__hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}
.hamburgerMenu__hamburger.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburgerMenu__hamburger.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/*Navbar section */
.hamburgerMenu__navbar {
  background-color: rgb(185, 168, 218);
  height: fit-content;
  width: 100%;
  display: none;
}

.hamburgerMenu__navbar ul {
  overflow: hidden;
  list-style-type: none;
  padding: 15% 3% 10% 15%;
  margin: 0;
}

.hamburgerMenu__navbar li {
  display: block;
  margin: 0;
  padding: 3%;
  width: 100%;
  transition: background-color 0.5s;
  text-align: center;
}

.hamburgerMenu__navbar li:hover {
  cursor: pointer;
}

.hamburgerMenu__navbar li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.hamburgerMenu__navbar li:hover {
  cursor: pointer;
  background-color: rgb(174, 103, 177);
  letter-spacing: 4px;
}
.hamburgerMenu__navbar {
  transition: all 2s ease-in-out;
}
/*Javascript Navbar*/

.hamburgerMenu__navbar.active {
  display: block;
  animation: fade 0.5s;
}

/*Keyframes*/

@keyframes fade {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*Media Queries*/

@media only screen and (min-width: 56.25em) {
  .hamburgerMenu__hamburger {
    display: none;
  }

  .hamburgerMenu__navbar {
    background-color: transparent;
    height: 50px;
    width: 100%;
    display: block;

    padding: 2px;
  }

  .hamburgerMenu__navbar ul {
    overflow: hidden;
    list-style-type: none;
    padding: 2px;
    margin: 0;
    height: 45px;
  }

  .hamburgerMenu__navbar li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    padding: 0.5rem;
    transition: background-color 0.5s;
    text-align: center;
    float: right;
  }

  .hamburgerMenu__navbar li a {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }
}
