/*Mobile First*/
.header__navbar {
  display: flex;
  justify-content: flex-end;
  /*margin: 0.5rem;*/
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.726);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(150, 143, 170, 0.726);
  margin-top: 2rem;
}

.header__logo {
  color: white;
  padding: 0.8rem 0.5rem 2rem 0.5rem;
  display: flex;
  flex-direction: wrap;
  position: absolute;
  left: 1.4rem;
}

.header__logo__sigil {
  margin-right: 0.3rem;
  font-size: 1.5rem;
  color: rgb(174, 103, 177);
}

.header__logo__title {
  display: flex;
  align-self: center;
  font-weight: bolder;
  color: rgb(100, 68, 136);
}
.header__menu {
  display: flex;
  align-self: center;
  width: 100%;
}

.header__menu--bottom {
  padding: 0.5rem;
}

/*Media Queries*/

@media only screen and (min-width: 56.25em) {
  .header__logo {
    color: white;
    padding: 0.8rem 0.5rem 2rem 0.5rem;
    display: flex;
    flex-direction: wrap;
    position: absolute;
    left: 4.4rem;
  }
  .header__logo__sigil {
    margin-right: 0.3rem;
    font-size: 1.6rem;
    color: rgb(174, 103, 177);
  }

  .header__logo__title {
    display: flex;
    align-self: center;
    font-weight: bolder;
    color: rgb(100, 68, 136);
    font-size: 1.3rem;
  }
}
