.navbar__container {
  background: url(https://wallpaperaccess.com/full/497913.jpg) 50% / cover,
    rgba(69, 60, 85, 0.911);

  background-blend-mode: overlay;
  padding: 1rem;
}

@media only screen and (min-width: 56.25em) {
  .navbar__container {
    padding: 3rem 1rem 3rem 1rem;
  }
}
