.dashboard__section {
  padding: 0.5rem;
  border-top: 0.1rem solid rgba(245, 245, 245, 0.726);
}

.dashboard__title {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 56.25em) {
  .dashboard__section {
    margin: 3rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .dashboard__section {
  }
}
