.dashboard__section {
  border: 2px solid aqua;
  padding: 1rem;
}

.dashboard__title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.dashboard__container {
  border: 2px solid pink;
  padding: 1rem;
  margin: auto;
}

.carousel {
  border: 2px solid black;
  padding: 1rem;
}

#carousel {
  border: 2px solid greenyellow;
  padding: 1rem;
}
