.productCard__container {
  background-color: rgba(245, 245, 245, 0.726);
  border-radius: 10px;
}

.productCard__title {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(100, 68, 136);
  padding: 1rem;
  font-weight: bold;
}
