.productCard__container {
  background-color: rgba(245, 245, 245, 0.726);
  border-radius: 10px;
}

.productCard__title {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(100, 68, 136);
  padding: 1rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 40.625em) {
}

@media only screen and (min-width: 56.25em) {
  .productCard__container {
  }
}

@media only screen and (min-width: 112.5em) {
}
