/*Mobile First*/
.header__section {
}

.header__content {
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.726);
  border-radius: 10px;
}

.header__logo {
  color: white;
  padding: 1rem;
}

.header__menu {
  display: flex;
  padding: 1rem;
}

.header__menu--bottom {
  padding: 0.5rem;
}
