.header_section {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(240, 22%, 38%, 0.534),
      hsla(266, 49%, 55%, 0.521),
      hsla(303, 19%, 58%, 0.493)
    ),
    url(/src/assets/images/header-banner-image.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 25vh, 0 100%);
}

.header_content {
  text-align: center;
  padding-top: 50px;
  border: 2px solid red;
}

.header_navbar {
  border: 2px solid yellow;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}

.header_logo {
  border: 2px solid orange;
  width: 50%;
}

.header_menu {
  border: 2px solid salmon;
  width: 50%;
  display: flex;
  flex-direction: wrap;
}

.header_menu--bottom {
  border: 2px solid pink;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}
