.banner__section {
  margin: 2rem 0 2rem 0;
}

.banner__content {
}

.banner__content--title {
  text-align: center;
  color: rgb(253, 253, 253);
  padding: 2rem;
  letter-spacing: 0.1rem;
}

.banner__content--phrase {
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}

.banner__content--cite {
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}
