.footer__title {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.copyright {
  font-weight: bold;
  margin-right: 3px;
}

@media only screen and (min-width: 56.25em) {
  .footer__title {
    font-size: 1rem;
  }
}
