* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background: rgb(185, 168, 218);
  background-blend-mode: overlay;
}

@media only screen and (min-width: 40.625em) {
  body {
  }
}

@media only screen and (min-width: 56.25em) {
  body {
  }
}

@media only screen and (min-width: 112.5em) {
  body {
  }
}
